/*
 * Globals
 */

html,
body {
  height: 100%;
}

body {
  background: #4d4e53 url(../img/texture-noise.png);
  color: rgba(255,255,255,.95);
  font-weight: 200;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

a,
a:focus,
a:hover {
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

article {
  text-align: left;
}

article a,
article a:focus,
article a:hover {
  font-weight: 400;
}

h1 {
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: left;
}

br + img {
  margin: .5rem 0 1rem;
}

code {
  background-color: rgba(255,255,255,.75);
  color: #4d4e53;
  text-shadow: 0 .05rem 0 rgba(255,255,255,.75);
}

ol {
  padding-left: 2rem;
  text-align: left;
}

li {
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

section {
  width: 100vw;
  min-height: 100vh;
}

section,
footer {
  -webkit-box-shadow: inset 0 0 10rem rgba(0,0,0,.3);
          box-shadow: inset 0 0 10rem rgba(0,0,0,.3);
}

section:nth-child(odd),
footer:nth-child(odd) {
  background-color: #c13832;
  -webkit-box-shadow: inset 0 0 10rem rgba(0,0,0,.3), 0 .2rem 1.5rem .2rem rgba(0,0,0,.6);
          box-shadow: inset 0 0 10rem rgba(0,0,0,.3), 0 .2rem 1.5rem .2rem rgba(0,0,0,.6);
}

.alert {
  line-height: 1.4rem;
  text-shadow: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: rgba(255,255,255,.75);
  border: .05rem solid #fff;
  color: #4d4e53;
  font-weight: 200;
  text-shadow: none; /* Prevent inheritance from `body` */
  transition: background-color .15s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: rgba(255,255,255,.95);
}

.card {
  background-color: rgba(0,0,0,.6);
  border: none;
  transition: background-color .15s;
}

.card,
.card:hover,
.card:focus {
  font-weight: 200;
  text-decoration: none;
}

.card:hover {
  background-color: rgba(0,0,0,.8);
}

.card-img-top {
  opacity: .75;
  transition: opacity .15s;
}

.card:hover > .card-img-top {
  opacity: 1;
}

.container-fluid {
  padding: 0;
}

.content-center {
  margin-right: auto;
  margin-left: auto;
}

.img-circle {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.text-muted {
  color: rgba(255,255,255,.65) !important;
}


/*
 * Navbar
 */

#navbar {
  background-color: none;
  transition: background-color .3s;
}

#navbar.overlay {
  background-color: rgba(0,0,0,.75);
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0;
}

.navbar-brand > img {
  height: 2.5rem;
  margin-left: .75rem;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: .8rem;
}

.navbar-nav .nav-link {
  padding: .7rem 0 .3rem;
  font-size: .95rem;
  font-weight: 400;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  transition: border-color .15s, color .15s;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-link.active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-toggler,
.navbar-toggler:focus {
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  outline: none;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}


/*
 * Cover
 */

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cover-inner {
  padding: 8rem 1rem;
  width: 100%;
}


/*
 * Footer
 */

footer {
  color: rgba(255,255,255,.5);
  width: 100%;
  padding: 2rem;
}

footer .lead {
  font-size: 1rem;
  margin: 0;
}

footer .logo {
  height: 2rem;
}

footer .social-icon {
  height: 1.5rem;
}


/*
 * Highlight.js overrides
 */

pre > code, .hljs {
  background-color: rgba(0,0,0,.5);
  border-radius: .25rem;
  color: #dcdcdc;
  text-align: left;
  text-shadow: none;
  display: block;
  padding: 1rem;
  overflow-x: auto;
}


/*
 * Other overrides
 */

#posts a {
  font-weight: 500;
}

#posts h1 {
  font-size: 2.25rem;
  margin-bottom: .25rem;
}

#posts h1 > a {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: .25rem;
}

#getting-started img[alt="..."],
#getting-started img[alt="FlyWeb"] {
  height: 2rem;
}

#getting-started .img-thumbnail {
  height: 18rem;
}

#team a {
  font-weight: 300;
}

#team p {
  margin-bottom: 0;
}

#team .row {
  margin-top: 1.5rem;
}

#team .col-sm-4 {
  padding-bottom: 2rem;
}

#team .social-icon {
  height: 1rem;
  vertical-align: text-bottom;
}

#community p {
  padding-bottom: 2rem;
}

#community li {
  margin-bottom: .5rem;
}


/*
 * Affix and center
 */

@media (max-width: 575px) {
  #navbar,
  #navbar.overlay {
    background-color: rgba(0,0,0,.65);
  }

  .navbar-toggleable-xs {
    position: relative;
    clear: both;
    float: left;
    text-align: left;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin-left: 1rem !important;
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item + .nav-item {
    margin-left: .6rem;
  }
}

@media (min-width: 768px) {
  .navbar,
  .content-center {
    width: 640px;
  }
}

@media (min-width: 992px) {
  .navbar,
  .content-center {
    width: 720px;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .navbar,
  .content-center {
    width: 800px;
  }
}
