---
layout: default
title: FlyWeb
permalink: /
---

<section id="home">
  <div class="cover content-center">
    <div class="cover-inner">
      {% include home/home.html %}
    </div>
  </div>
</section>

<section id="getting-started">
  <div class="cover content-center">
    <div class="cover-inner">
      {% include home/getting-started.html %}
    </div>
  </div>
</section>

<section id="showcase">
  <div class="cover content-center">
    <div class="cover-inner">
      {% include home/showcase.html %}
    </div>
  </div>
</section>

<section id="community">
  <div class="cover content-center">
    <div class="cover-inner">
      {% include home/community.html %}
    </div>
  </div>
</section>

<section id="team">
  <div class="cover content-center">
    <div class="cover-inner">
      {% include home/team.html %}
    </div>
  </div>
</section>
