<div id="navbar" class="container-fluid navbar-fixed-top">
  <nav id="navbar-inner" class="navbar content-center">
    <button class="navbar-toggler float-xs-left hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
    <a class="navbar-brand nav-link" href="/#home" data-target="#home">
      {{ site.title | escape }}
      <img class="float-xs-right" src="/img/logo-flyweb-white.svg">
    </a>
    <div class="collapse navbar-toggleable-xs" id="navbar-header">
      <ul class="nav navbar-nav float-sm-right">
        <li class="nav-item"><a class="nav-link" href="/posts/" data-target="#posts">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="/#getting-started" data-target="#getting-started">Getting Started</a></li>
        <li class="nav-item"><a class="nav-link" href="/#showcase" data-target="#showcase">Showcase</a></li>
        <li class="nav-item"><a class="nav-link" href="/#community" data-target="#community">Community</a></li>
        <li class="nav-item"><a class="nav-link" href="/#team" data-target="#team">Team</a></li>
      </ul>
    </div>
  </nav>
</div>
