---
layout: posts
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header clearfix">
    <h1 class="post-title" itemprop="name headline">
      <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
    </h1>
    <p class="post-meta text-muted float-xs-left">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %}
       • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
    <p class="float-xs-right">
      <a class="share-link" target="_blank" href="https://twitter.com/share?text={{ page.title }}&url={{ page.url | absolute_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
         data-toggle="tooltip" title="Share on Twitter"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
      
      <a class="share-link" target="_blank" href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}&p[title]={{ page.title }}"
         data-toggle="tooltip" title="Share on Facebook"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
      
      <a class="share-link" target="_blank" href="https://plus.google.com/share?url={{ page.url | absolute_url }}"
         data-toggle="tooltip" title="Share on Google+"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a>
      
      <!-- <a class="share-link" target="_blank" href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url | absolute_url }}&description={{ page.title }}"
         data-toggle="tooltip" title="Share on Pinterest"><i class="fa fa-pinterest-square fa-lg" aria-hidden="true"></i></a> -->
      
      <!-- <a class="share-link" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | absolute_url }}&title={{ page.title }}"
         data-toggle="tooltip" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a> -->
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.previous.url %}
    <a class="float-xs-left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous post</a>
  {% endif %}
  {% if page.next.url %}
    <a class="float-xs-right" href="{{ page.next.url }}" title="{{ page.next.title }}">Next post &raquo;</a>
  {% endif %}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
