<h1>Community</h1>

<p class="lead">
  We are excited to hear about your ideas for using FlyWeb in new and unique ways! Please drop us a line in any of these channels if you have any questions or need any help getting your projects off the ground.
</p>

<ul class="list-unstyled">
  <li>
    <a href="https://www.irccloud.com/invite?channel=%23flyweb&hostname=irc.mozilla.org&port=6697&ssl=1" target="_blank">#flyweb</a> on <a href="https://wiki.mozilla.org/IRC" target="_blank">IRC</a> @ <a href="https://developer.mozilla.org/en-US/docs/Mozilla/QA/Getting_Started_with_IRC" target="_blank">irc.mozilla.org</a> (<a href="http://logs.glob.uno/?c=mozilla%23flyweb" target="_blank">View Log</a>)
  </li>

  <li>
    <a href="https://mozflyweb.slack.com" target="_blank">mozflyweb.slack.com</a> on <a href="https://slack.com" target="_blank">Slack</a> (<a href="https://mozflyweb-slack-invite.herokuapp.com" target="_blank">Sign Up</a>)
  </li>

  <li>
    <a href="https://lists.mozilla.org/listinfo/dev-flyweb" target="_blank">dev-flyweb</a> mailing list on <a href="https://groups.google.com/forum/#!forum/mozilla.dev.flyweb">Google Groups</a>
  </li>
</ul>
