<h1>Showcase</h1>

<p class="lead">Take FlyWeb for a test drive with these example apps and demos</p>

<div class="card-deck-wrapper">
  <div class="card-deck">

    <a class="card" href="https://flyweb.github.io/examples/flyweb-gp/Build" target="_blank">
      <img class="card-img-top img-fluid" src="img/screenshot-flyweb-gp.jpg" alt="FlyWeb GP screenshot">
      <div class="card-block">
        <h4 class="card-title">FlyWeb GP</h4>
        <p class="card-text">
          A demonstration of a Unity 3D WebGL racing game that allows players to join in and control the game with their web browser
        </p>
      </div>
    </a>

    <a class="card" href="https://github.com/flyweb/examples/tree/master/flyweb-quadcopter" target="_blank">
      <img class="card-img-top img-fluid" src="img/screenshot-flyweb-quadcopter.jpg" alt="FlyWeb Quadcopter screenshot">
      <div class="card-block">
        <h4 class="card-title">FlyWeb Quadcopter</h4>
        <p class="card-text">
          Control an AR.Drone quadcopter with your browser using a simple Node.js server that can run on a Raspberry Pi
        </p>
      </div>
    </a>

    <a class="card" href="https://flyweb.github.io/examples/photo-wall" target="_blank">
      <img class="card-img-top img-fluid" src="img/screenshot-photo-wall.jpg" alt="Photo Wall screenshot">
      <div class="card-block">
        <h4 class="card-title">Photo Wall</h4>
        <p class="card-text">
          A simple photo-sharing app that lets nearby users join via FlyWeb to view photos on a wall and share their own in real-time
        </p>
      </div>
    </a>

  </div>
</div>
