<h1>Team</h1>

<div class="row">
  <div class="col-sm-4">
    <img class="img-circle" src="img/team-kannan.jpg">
    <h5>Kannan Vijayan</h5>
    <p>
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      <a href="https://twitter.com/kannan_vijayan" target="_blank" title="Twitter">@kannan_vijayan</a>
    </p>
    <p>
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
      <a href="https://github.com/kannanvijayan" target="_blank" title="GitHub">kannanvijayan</a>
    </p>
  </div>

  <div class="col-sm-4">
    <img class="img-circle" src="img/team-justin.jpg">
    <h5>Justin D'Arcangelo</h5>
    <p>
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      <a href="https://twitter.com/justindarc" target="_blank" title="Twitter">@justindarc</a>
    </p>
    <p>
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
      <a href="https://github.com/justindarc" target="_blank" title="GitHub">justindarc</a>
    </p>
  </div>

  <div class="col-sm-4">
    <img class="img-circle" src="img/team-jonas.jpg">
    <h5>Jonas Sicking</h5>
    <p>
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      <a href="https://twitter.com/sickingj" target="_blank" title="Twitter">@sickingj</a>
    </p>
    <p>
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
      <a href="https://github.com/sicking" target="_blank" title="GitHub">sicking</a>
    </p>
  </div>
</div>
